/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addTaskButton {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

button.removeTaskButton {
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button.removeTaskButton:hover {
    background-color: #c82333;
}

#clearCompletedButton {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#clearCompletedButton:hover {
    background-color: #138496;
}
